#
# XMLRPC_PATH: path to XMLRPC server.
#
XMLRPC_PATH = 'http://127.0.0.1:8080/xmlrpc'

#
# TEMPLATE_PATH: template path.
# TEMPLATE_STYLE: template style.
#
TEMPLATE_PATH = './templates'
TEMPLATE_STYLE = 'default'
