body {
	margin: 0;
	font-family: "Trebuchet MS", sans-serif;
	background: #000;
	color: #999;
}

a {
	text-decoration: none;
	color: #069;
}

img {
	border: none;
}

table tr td { vertical-align: top; }

#header {
	background: url('/static/bgstripe.png');
	padding-left: 1em;
}

#page {
	margin-top: 1em;
	margin-left: 1em;
	margin-right: 1em;
}

h2 {
	border-bottom: #444 1px dotted;
}

#links {
	font-size: 125%;
	margin-top: -1.5em;
	margin-right: 0.75em;
	margin-bottom: 0;
	padding: 0;
	float: right;
}

#links li {
	display: inline;
	padding-left: 0.25em;
	margin-left: 0.25em;
	text-transform: lowercase;
}

#links li a {
	color: #ddd;
}

#links li a:hover {
	text-decoration: underline;
}

.boxhead {
	background: #222;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.boxhead h2 {
	margin: 0;
	padding: 0px 0px 0px;
	color: #000; 
	font-weight: bold; 
	font-size: 1.0em; 
	color: #fff;
	line-height: 1.2em;
}

.boxbody {
	background: #111;
	margin: 0;
	font-size: 75%;
	padding: 10px 10px 0px;
}
